<!-- dashboard.html -->
{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        main {
            margin-top: 20px;
        }

        .jumbotron {
            background-color: #3498db;
            color: #fff;
            padding: 20px;
            border-radius: 10px;
        }

        .jumbotron h1 {
            font-size: 2.5rem;
        }

        .jumbotron p {
            font-size: 1.2rem;
            text-align: center;
        }

      .pdf, .uploaded-pdf {
            margin: 20px;
        }
        
    </style>
{% endblock css %}

{% block content %}
    <!-- Jumbotron for Welcome Message -->
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Edit Master</h1>
        <p class="lead">Edit Your PDF and PICTURES</p>
    </div>

    <!-- Form for uploading PDF -->
    <form class="pdf"  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload PDF</button>
    </form>

    <!-- Display uploaded PDFs -->
    {% if uploaded_pdfs %}
        <h2>Uploaded PDFs</h2>
        {% for pdf in uploaded_pdfs %}
            <div class="uploaded-pdf">
                <p><strong>{{ pdf.upload_date }}:</strong> <a href="{{ pdf.pdf_file.url }}" target="_blank">{{ pdf.pdf_file.name }}</a></p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
